@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}


body {
	background: #161713;
	color: #F5F5F5;
}

p {
	margin-bottom: 10px;
	cursor: text;
}

a {
  color:#F5F5F5;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.borders {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: 15px auto 0px;
  height: 5vh;
  padding: 0 15px;

}

.box-left {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 5vh;
	height: 5vh;

}

.box-right {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 5vh;
  height: 5vh;

}

.box-bottom-left {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 5vh;
  height: 5vh;

}

.box-bottom-right {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 5vh;
  height: 5vh;

}

.container {
	max-width: 750px;
	margin: 15px auto;
	z-index: 200;
  height: 82vh
}

h1 {
	font-family: 'Gotham', sans-serif, arial;
	font-weight: 700;
	color:#EAE431;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;
   padding: 0 15px;


}

h2 {
	
	text-align: left;
    font-size: 12px;
    /*font-family: 'Roboto Condensed';*/
    font-family: 'lekton', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    color: #5a5a5a;
    padding: 0 15px;


/*
	text-align: right;
    font-size: 72px;
    font-family: 'Baskerville', 'Libre Baskerville', serif;
    line-height: 50px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    letter-spacing: 5px;
    margin-bottom: 25px;
   	padding: 0 35px;*/


}

.city  {
	text-align: right;
	font-family: 'lekton', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;



}

.city i {
	color: #EAE431;
}

.city p:last-child {
	margin-bottom: 0;
}



ul {
	list-style-type: none;
    text-align: right;
    font-size: 72px;
    font-family: 'didot', 'Baskerville', 'Libre Baskerville', serif;
    line-height: 60px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    letter-spacing: 5px;
    margin-bottom: 25px;
    padding: 0 35px;
    font-style: italic;

}

.mobile-div {display:none;}

.coming-soon:hover span {
   display: none;}

.coming-soon:hover:before {content:"Coming Soon";  color: #5a5a5a; }


.social-links {
  list-style-type: none;
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
  position:absolute;
  bottom:2%;

}

.social-links i {
  color: #EAE431;
}

.social-links i:hover {
  color: #5a5a5a;
}

.social-links li {
  padding-right: 5px;
}




.projects-screen {

  max-width: 750px;
  margin: 15px auto;

}

.projects-screen header h1,
.projects-screen header h2  {

  text-align: center;

}


@media (max-width: 650px) {

  .borders {display: none;}

  header {margin-bottom: 35px;}

  h1,h2 {text-align: center;}

  .city { flex-direction: column; text-align: center; margin-bottom: 35px;}

  ul {text-align: center;}

  .social-links {font-size: 24px; width: 100%;}

  .coming-soon {
   display: none;}

   .mobile-div {
    display: block;
    font-family: 'lekton', sans-serif;
    color: #fafafa;
    padding: 0 15px 25px;
    text-align: center;
    letter-spacing: 1px;
  }

  .port-links {
    font-size: 50px;
    padding: 0 15px;}

}


@media (max-width: 399px) {


}

