@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body {
	background: #161713;
	color: #F5F5F5;
}

p {
	margin-bottom: 10px;
	cursor: text;
}

a {
  color:#F5F5F5;
  text-decoration: none;
  cursor: pointer;
}




.borders {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: 15px auto 0px;
}

.box-left {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 25px;
	height: 25px;

}

.box-right {
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 25px;
	height: 25px;

}

.box-bottom-left {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 25px;
	height: 25px;

}

.box-bottom-right {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 25px;
	height: 25px;

}

.container {
	max-width: 750px;
	margin: 15px auto;
	z-index: 200;
}

h1 {
	font-family: 'Gotham', sans-serif, arial;
	font-weight: 700;
	color:#EAE431;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;

}

h2 {
	
	text-align: left;
    font-size: 12px;
    /*font-family: 'Roboto Condensed';*/
    font-family: 'lekton', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    color: #5a5a5a;

/*
	text-align: right;
    font-size: 72px;
    font-family: 'Baskerville', 'Libre Baskerville', serif;
    line-height: 50px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    letter-spacing: 5px;
    margin-bottom: 25px;
   	padding: 0 35px;*/


}

.city  {
	text-align: right;
	font-family: 'lekton', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;


}

.city i {
	color: #EAE431;
}

.city p:last-child {
	margin-bottom: 0;
}



ul {
	list-style-type: none;
    text-align: right;
    font-size: 72px;
    font-family: 'didot', 'Baskerville', 'Libre Baskerville', serif;
    line-height: 60px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    letter-spacing: 5px;
    margin-bottom: 25px;
    padding: 0 35px;
    font-style: italic;

}

li {
	
}

span{

}

/*span:hover a{ content: '' }
span a:hover:after {content:"Coming Soon"}*/


/*span {
  position: relative;
  display: initial;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
*/


footer {
	position: absolute;
    bottom: 0;
}
